<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

  <!--- basic page needs
  ================================================== -->
  <meta charset="utf-8">
  <title>ChallengeHub</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- mobile specific metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/vendor.css">

  <!-- script
  ================================================== -->
  <script src="js/modernizr.js"></script>

  <!-- favicons
   ================================================== -->
  <link rel="icon" type="image/png" href="images/blmlogo.jpg">

</head>

<body id="top">

<!-- header
 ================================================== -->
<header>

  <div class="row">



    <nav id="main-nav-wrap">
      <ul class="main-navigation">
        <li class="current"><a class="smoothscroll"  (click)="goTo('intro')" title="">Home</a></li>
        <li><a class="smoothscroll" routerLink="/challenges" title="">Challenges</a></li>
        <li><a class="smoothscroll" (click)="goTo('faq')" title="">Medien</a></li>
        <li><a class="smoothscroll"  (click)="goTo('testimonials')" title="">About Us</a></li>
        <li><a class="smoothscroll"  (click)="goTo('contact')" title="">Contact</a></li>

      </ul>
    </nav>

    <a class="menu-toggle" href="#"><span>Menu</span></a>

  </div>

</header> <!-- /header -->

<!-- intro section
 ================================================== -->
<section id="intro">

  <div class="shadow-overlay"></div>

  <div class="intro-content">
    <div class="row">

      <div class="col-twelve">




        <br>
        <h1>Challenge Hub</h1>
        <h5>Die Plattform für crowd-sourced media innovation</h5>
        <br>
        <a class="button stroke smoothscroll" (click)="goTo('faq')" title="">Learn More</a> <a class="button stroke"  title="" routerLink="/challenges">See Challenges</a>

      </div>

    </div>
  </div>

  <!-- Modal Popup
    ========================================================= -->

  <div id="video-popup" class="popup-modal mfp-hide">

    <div class="fluid-video-wrapper">
      <iframe src="http://player.vimeo.com/video/14592941?title=0&amp;byline=0&amp;portrait=0&amp;color=faec09" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <a class="close-popup">Close</a>

  </div> <!-- /video-popup -->

</section> <!-- /intro -->


<!-- Process Section
================================================== -->





<!-- faq
================================================== -->
<section id="faq">

  <div class="row section-intro">
    <div class="col-twelve with-bottom-line">


      <h1>Medieninnovation von der Community</h1>

      <p class="lead">Wie sehen die News der Zukunft aus? Oft scheitert es an der richtigen Idee. Auf ChallengeHub.media findet die Community Antworten auf die Challenges der Medienbranche.    </p>

    </div>
  </div>

  <div class="row faq-content">

    <div class="q-and-a block-1-2 block-tab-full group">

      <div class="bgrid">

        <h3>Community</h3>
        <h6>Gebt euren Ideen eine Plattform!</h6>

        <p>Du magst es, Probleme zu lösen und deine <br>
           Expertise zu teilen? Browse durch unsere <br>
            Challenges und hilf der Medienbranche mit <br>
            deinen Ideen. What's in it for you? Ruhm, <br>
            Ehre und Geld. Denn die beste Idee wird <br>
            immer prämiert!
        </p>

      </div>

      <div class="bgrid">

        <h3>Medienhäuser</h3>
        <h6>Teilt eure Challenges!</h6>

        <p>Crowdsourced Innovation ist der beste Weg, <br>
           neue Ideen zu bekommen. Ob neue Formate für <br>
            AR oder neue Geschäftsmodelle, frag die <br>
            Crowd nach ihrem Input. Gib deine Challenge <br>
          in die Community und prämiere die beste Idee!
        </p>

      </div>



    </div> <!-- /q-and-a -->

  </div> <!-- /faq-content -->

  <div class="row section-ads">









        <div class="action">
          <a class="button large round" routerLink="/challenges">See Challenges</a>
        </div>





  </div> <!-- /section-ads -->


</section> <!-- /faq -->












<!-- Testimonials Section
================================================== -->
<section id="testimonials">

  <div class="row">
    <div class="col-twelve">
      <h2 class="h01">About Us</h2>
    </div>
  </div>

  <div class="row flex-container">


            ChallengeHub.media ist ein Projekt des Media Lab Bayern, unterstützt durch das Google News Lab Fellowship. <br><br>

            Mit ChallengeHub.media wollen wir Medienhäusern eine Plattform geben, die Community in die Entwicklung neuer Ideen und Projekte mit einzuziehen. Gerade auch, wenn es in-House keine Kapazitäten gibt. Diese Plattform ist aktuell im Alpha-Test, über jedes Feedback freuen wir<br> uns unter info@medialab-bayern.de <br><br>

            Das Media Lab fördert als Ideen-Inkubator digitale Journalismus- und Medienprojekte von der ersten Idee bis zur Gründung eines Startups. <br><br>


            Das Media Lab Bayern ist eine Einrichtung der Bayerischen Landeszentrale für neue Medien (BLM) und wird gefördert vom Bayerischen Staatsministerium für Wirtschaft und Medien, Energie und Technologie.  <br><br>



  </div> <!-- /flex-container -->

</section> <!-- /testimonials -->













<!-- footer
================================================== -->
<footer>

  <div class="footer-main" id="contact">

    <div class="row">

      <div class="col-four tab-full mob-full footer-info">



        <p>
          MEDIA LAB BAYERN <br>
          ROSENHEIMER STRASSE 145c <br>
          81671 MÜNCHEN <br>
          info@medialab-bayern.de
        </p>

      </div> <!-- /footer-info -->

      <div class="col-two tab-1-3 mob-1-2 site-links">

        <h4>Site Links</h4>

        <ul>
          <li><a (click)="goTo('intro')">Home</a></li>
          <li><a routerLink="/challenges">Challenges</a></li>
          <li><a (click)="goTo('faq')">Medien</a></li>
          <li><a (click)="goTo('testimonials')">About Us</a></li>
          <li><a (click)="goTo('contact')">Contact</a></li>

        </ul>

      </div> <!-- /site-links -->





    </div> <!-- /row -->

  </div> <!-- /footer-main -->


  <div class="footer-bottom">

    <div class="row">

      <div class="col-twelve">
        <div class="copyright">
          <span>© Copyright ChallengeHub 2017.</span>

        </div>


      </div>

    </div> <!-- /footer-bottom -->

  </div>

</footer>

<div id="preloader">
  <div id="loader"></div>
</div>

<!-- Java Script
================================================== -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

</body>

</html>
